doctype html
html(lang="ko")
  head
    meta(charset="utf-8")
    title EatSSU
    // Bootstrap core CSS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(href="stylesheets/ann.css" rel="stylesheet")
    script(src="https://use.fontawesome.com/releases/v5.2.0/js/all.js")
  body
    .page-container
      h1 #{JSON.stringify(store)}