html { position: relative; min-height: 100%; margin: 0;}
body {min-height: 100%;}
a:hover{text-decoration-line: none;}
.footer{position: absolute; left: 0; bottom: 0; width: 100%; padding: 15px 0;}
.flex { display: flex; }
.column{ display: flex; flex-direction: column !important; }
.f40 { font-size: 40px; }
.f30 { font-size: 30px; }
.f24 { font-size: 24px; }
.f21 { font-size: 21px; }
.f17 { font-size: 17px; }
.f15 { font-size: 15px; }
.f13 { font-size: 13px; }

.t_bk { color: #1b2733; }
.t_gry { color: #8c98a4; }
.t_gry3 { color: #637282; }
.t_white{ color: #fff; }

.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-700 { font-weight: 500; }
.font-weight-700 { font-weight: 700; }
.font-weight-900 { font-weight: 900; }

.bg-gr{ background-color: #f5f5f5; }
.bg-bk { background-color: #2962FF; }

.left { float: left; }
.right { float: right;}
.border-gray { border: 1px solid #8c98a4;}
.p-0 { padding: 0rem !important; }
.p-3 { padding: 3rem; }
.pt-0 {padding-top: 0 !important;}
.pt-1 { padding-top: 1rem;}
.pt-2 { padding-top: 2rem;}
.pt-3 { padding-top: 3rem;}
.pt-4 { padding-top: 4rem;}
.pt-5 { padding-top: 5rem;}
.pt-9 { padding-top: 9rem !important; }
.py-md-4{padding-bottom:1.5rem !important}
.py-xl-5{padding-top:3rem !important}html:not([dir=rtl])
.pt-md-4,.py-md-4{padding-top:1.5rem !important}
.pt-5,.py-5{padding-top:3rem !important}
.pt-3,.py-3{padding-top:1rem !important}
.pt-2,.py-2{padding-top:.5rem !important}
.pt-lg-0,.py-lg-0{padding-top:0 !important}
.py-lg-0{padding-bottom:0 !important}

.pb-1 { padding-bottom: 1rem;}
.pb-2 { padding-bottom: 2rem;}
.pb-3 { padding-bottom: 3rem;}
.pb-4 { padding-bottom: 4rem;}
.pb-5 { padding-bottom: 5rem;}
.pb-3,.py-3{padding-bottom:1rem !important}
.py-5{padding-bottom:3rem !important}
.pr-4,.pb-4,.py-4{padding-bottom:1.5rem !important}

.pr-13px { padding-right: 13px; }
.pr-0 { padding-right: 0; }
.pr-1 { padding-right: 1rem;}
.pr-2 { padding-right: 2rem;}
.pr-3 { padding-right: 3rem;}
.pr-4 { padding-right: 4rem;}
.pr-5 { padding-right: 5rem;}
.px-md-5{padding-right:3rem !important}
.px-4{ padding-right:1.5rem !important }html:not([dir=rtl])
.px-md-5{padding-right:3rem !important}html:not([dir=rtl])
.pr-3,.px-3{padding-right:1rem !important}
.pr-md-0,.px-md-0{padding-right:0 !important}
.px-4{padding-right:1.5rem !important}

.pl-15px { padding-left: 15px; }
.pl-0 { padding-left: 0;}
.pl-1 { padding-left: 1rem;}
.pl-2 { padding-left: 2rem;}
.pl-3 { padding-left: 3rem;}
.pl-4 { padding-left: 4rem;}
.pl-5 { padding-left: 5rem;}
.pl-3,.px-3{padding-left:1rem !important}

.p-4{padding:1.5rem}
.m-0{margin: 0;}
.mt-05 {margin-top: 0.5rem;}
.mt-1 { margin-top: 1rem;}
.mt-13 {margin-top: 1.3rem;}
.mt-2 { margin-top: 2rem !important;}
.mt-3 { margin-top: 3rem;}
.mt-4 { margin-top: 4rem;}
.mt-5 { margin-top: 5rem;}
.my-4{margin-top:1.5rem !important}
.ml-lg-4,.mx-lg-4{margin-left:1.5rem !important}
.pt-lg-4,.py-lg-4{padding-top:1.5rem !important}

.mb-0 { margin-bottom: 0; }
.mb-05 { margin-bottom: 0.5rem; }
.mb-1 { margin-bottom: 1rem;}
.mb-2 { margin-bottom: 2rem;}
.mb-3 { margin-bottom: 3rem !important;}
.mb-4 { margin-bottom: 4rem;}
.mb-5 { margin-bottom: 5rem;}

.mr-05 { margin-right: 0.25rem; }
.mr-1 { margin-right: 1rem;}
.mr-2 { margin-right: 2rem;}
.mr-3 { margin-right: 3rem;}
.mr-4 { margin-right: 4rem;}
.mr-5 { margin-right: 5rem;}
.mx-lg-5{margin-right:3rem !important}

.ml-1 { margin-left: 1rem;}
.ml-2 { margin-left: 2rem;}
.ml-3 { margin-left: 3rem;}
.ml-4 { margin-left: 4rem;}
.ml-5 { margin-left: 5rem;}

/* index */
.title{ color: white; font-size: 70px; text-align: center; font-weight: 500; line-height: 1.2; }
.tag{ padding: 0; }
.class-title-wrap{ height: 75px; margin-top: .25rem; overflow: hidden; text-overflow: ellipsis; white-space: normal; width: 100%;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.class-title{text-overflow: ellipsis;}
.store-addr{ height: 42px;}
.bottom-grey { border-bottom: 1px solde #e5e5e5; }
h1, h2, h3, h4, h5, h6 { font-family: "Playfair Display", Georgia, "Times New Roman", serif; }
.flex-index { flex-basis: 24%; }
.container{ width: 80%;}
.card-wrapper { display: block; -webkit-box-sizing: border-box; box-sizing: border-box; letter-spacing: -.05em; }
.card-wrapper .inner-container {min-width: 1194px; max-width: 1194px;  margin: 0 auto; padding-top: 130px; }
.card-wrapper .shc-sub-title {font-size: 14px;  display: block; color: #1b2733; }
.d-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}
.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap; margin: 2px -.75rem;}
.page-container{overflow-y: scroll;}
.text-center{text-align:center !important}
.img-box { position: relative; padding-top: 100%; overflow: hidden; }
.photo{position: absolute; top: 0; left: 0; right: 0; bottom: 0; max-width: 100%; height: auto;}
.card { background-color: #fff; padding: 10px 10px 0 10px; margin:calc(4%/8); border:1px solid #0D47A1;}
.flex-24:hover{  -webkit-transform: scale(1.03); -moz-transform: scale(1.03);  -ms-transform: scale(1.03);  transform: scale(1.03); box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16); transition: 0.3s; color: black;}
.justify-content-start{ justify-content: flex-start; }
.card-60 { flex-basis: 58%; margin-right: 2%;}
.card-40 { flex-basis: 40%;}
.row-class{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-.75rem;margin-left:-.75rem;}

.line{ height: 1px; width: 100%; background-color: #0D47A1; margin-bottom: 1rem;}
.center{ margin-left: auto; margin-right: auto; }
.position-relative { position:relative !important }
.wrapper { text-align: center; }
.wrapper h1{ color: #fff; font-size: 92px; font-family: 'ubuntu'; text-transform: uppercase;  font-weight: 700;  font-family: 'Josefin Sans',sans-serif; background: linear-gradient(to right,#697dff 10%,#fff 50%,#5bdaff 60%);  background-size: auto auto;  background-clip: border-box;  background-size: 200% auto;  color: #fff;  background-clip: text;  -webkit-background-clip: text;  -webkit-text-fill-color: transparent;  animation: textclip 1.5s linear infinite;  display: inline-block;}
.category-wrapper { height: 50px; display: flex; align-items: center; justify-content: center; border:1px solid #0D47A1; margin-bottom:2rem !important; margin: calc(4%/8);}
.category { height: 100%; flex-basis: 25%; text-align: center; border: 1px solid #0d47a1; color: #0D47A1; background-color: white;}
.category:hover{ background-color: #E3F2FD; opacity: .8;}
.fa-star { color: #0D47A1;}
.star-wrapper{ margin: 5px; display: flex;}
.stars{ justify-content: flex-start; flex-basis: 95%;}
.grade{justify-content: flex-end;}
.random { background: #2962FF; color: white; height: 48px; margin: 2rem 0; width: 100%; border: 1px solid #0D47A1; justify-content: center; align-items: center; display: flex; margin: calc(4%/8);}
.store-photo{width:100%; }
.store-img-box { position: relative; padding-top: 100%; overflow: hidden; margin-bottom: 10px;}
.store-info{ margin: 20px 0; border: 1px solid #0D47A1; padding-left: 10px; padding-right: 10px;}
.store-name{ padding-left: 13px; margin-top: 1rem;}
.radius-none{border-radius: 0 !important; margin:0;}
.review-wrapper{display: flex; flex-direction: column;}
.review-count{ width: 100%; border: 1px solid #0D47A1; height: 40px; display: flex; align-items: center; padding-left: 10px;}
.review-write{ width: 100%; border: 1px solid #0D47A1; display: flex; flex-direction: column; align-items: center; padding: 2%; margin-top: 10px;}
.review-box{ width: 100%; border: 1px solid #0D47A1; height: 40px; padding: 10px;}
#content.review-box{height: 100px; margin: 10px 0 3px 0 ;}
.flex-row{flex-direction: row; width: 100%;}
#password.review-box{width: 73%; overflow-y: scroll;}
#btn.review-box{width:25%; margin-left: 2%; position: relative; top: 2px;}
.reviews{ margin-top: 10px; display: flex; border: 1px solid #0D47A1; width: 100%; padding: 10px;}
.review{ height: 100px; }
.review-nickname{ width: 80%;}
.review-icon{ float: right; margin-left: 20px; cursor: pointer; }
.review-delete{ border: none;}
.review-content{ margin-top: 5px; height: 70px; overflow-y: scroll;}
.search-icon{ color: #0D47A1; background-color: white; border: 2px solid #0D47A1; box-sizing: border-box;} 
.search-input{ border: 1px solid rgb(225, 227, 230); }
